.grade-table {
  width: 250px;
  color: #777777;
  background-color: white;
  border: 1px solid #cecece;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  border-spacing: 0;
}

.grade-table th {
  padding: 9px;
  border: 1px solid #cecece;
}

.grade-table tr {
  box-sizing: border-box;
}

.grade-table tbody tr:hover {
  background-color: #f5f5f5;
}

.grade-table td {
  padding: 9px;
  border: 1px solid #cecece;
}