.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 70px);
}

.login-card {
  border-radius: 8px;
  width: 380px;
  position: absolute;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.712);

}

.login-logo-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.login-logo {
  width: 250px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.form-username,
.form-password,
.form-submit {
  box-sizing: border-box;
  height: 36px;
  width: 250px;
}

.form-username,
.form-password {
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}

.form-submit {
  font-size: 16px;
}

.login-error {
  display: flex;
  justify-content: center;
  color: red;
}