.tareas-grid {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  margin-top: 8px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.158);
  font-size: 14px;
  background-color: white;
  color: rgb(51, 51, 51);
}

.table-header, .cell {
  box-sizing: border-box;
  display: flex;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 7px;
  /* min-height: 55px; */
}

.table-header {
  border-left: 1px solid #cecece;
}

.table-header:nth-child(1) {
  border-top: 1px solid #cecece;
}

.cell:nth-child(2) {
  border-top: 1px solid #cecece;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner {
  -moz-appearance: textfield;
}

select, input {
  box-sizing: border-box;
  flex: 1;
  height: 32px;
  margin: 0;
  border-radius: 0;
  padding-left: 6px;
  background-color: white;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(177, 177, 177);
  color: rgb(51, 51, 51);
}

select[disabled] {
  border: 1px solid rgb(107, 107, 107);
  opacity: 0.7;
  background: rgb(231, 231, 231);
}

form.submitted input:invalid,
form.submitted select:invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 2px;
}

input::placeholder {
  color: rgb(147, 147, 147);
  font-size: 13px;
}

.buttons-row {
  grid-column: 1 / -1;
  justify-content: space-between;
}
