.info-bar {
  display: flex;
  justify-content: space-between;
  color: rgb(121, 119, 119);
  font-size: 14px;
  padding-bottom: 10px;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.selCurso, .selEtapa {
  background: linear-gradient(white 50%, rgb(245, 245, 245) 50%);
}

.selEtapa{
  margin-right: 8px;
}


select {
  padding: 4px 8px;
  border: 1px solid rgb(121, 119, 119);
  color: rgb(51, 51, 51);
  margin-right: 4px;
}

#date-range {
  font-size: 14px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

sup {
  margin-left: -0.3ch;
  font-size: 22px;
}
